@page "/Registro/Articulos"
@page "/Registro/Articulos/{ArticuloId:int}"
@inject IToastService toastService
<div class="form-register">
    <h3>Articulos</h3>
    <EditForm Model="@Articulo" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <label class="text-muted form-text">@Mensaje</label>
        <div class="form-group">
            <label> ArticuloId</label>
            <InputNumber class="form-control" @bind-Value="Articulo.ArticuloId"></InputNumber>
            <ValidationMessage For="(() => Articulo.ArticuloId)" />
            <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
        </div>
        <div class="form-group">
            <label for="Categoria">Categoria</label>
            <InputSelect @bind-Value="@CategoriaSeleccionado" class="form-control " @onchange="SeleccionarCategoria" @onclick="SeleccionarCategoria">
                <option value="0" disabled selected>Seleccione un Proveedor</option>
                @foreach (var item in ListadoCategorias)
                {
                    <option value="@item.CategoriaId">@item.Descripcion</option>
                }
            </InputSelect>
            <ValidationMessage For="@(()=>Articulo.CategoriaId)" />
        </div>

        <div class="form-group">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="Articulo.Nombre"></InputText>
            <ValidationMessage For="(() => Articulo.Nombre)" />
        </div>

        <div class="form-group">
            <label>Inventario</label>
            <InputNumber class="form-control" @bind-Value="Articulo.Inventario" ReadOnly="true"></InputNumber>
        </div>

        <div class="form-group">
            <label>Fecha de Ingreso</label>
            <InputDate class="form-control" @bind-Value="Articulo.Fecha"></InputDate>
            <ValidationMessage For="(() => Articulo.Fecha)" />
        </div>

        <div>
            <button type="button" class="btn btn-danger" @onclick="Limpiar">Nuevo</button>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-secondary" @onclick="Eliminar">Eliminar</button>
        </div>
        <h5 class="text-success">@Mensaje</h5>
    </EditForm>
</div>


@code {
    [Parameter]
    public int ArticuloId { get; set; }
    public Articulos Articulo { get; set; }
    string Mensaje = string.Empty;
    ArticulosController controller = new ArticulosController();
    private List<Categorias> ListadoCategorias{ get; set; }
    string CategoriaSeleccionado = "0";
    protected override void OnInitialized()
    {
        Limpiar();
        if (ArticuloId != 0)
        {
            Articulo = controller.Buscar(ArticuloId);
        }
    }

    private void Limpiar()
    {
        Articulo = new Articulos();
        LimpiarMensajes();
    }

    public void LimpiarMensajes()
    {
        Mensaje = string.Empty;
    }

    public void Guardar()
    {
        if (controller.Guardar(Articulo))
        {
            Limpiar();
            toastService.ShowSuccess("Articulo guardado correctamente", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("Error al guardar el articulo", "Fallo");
        }
    }

    public void Buscar()
    {
        var articulo = controller.Buscar(Articulo.ArticuloId);

        if (articulo != null)
        {
            Limpiar();
            Articulo = articulo;
            toastService.ShowSuccess("Articulo encontrado.", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("El articulo no fue encontrad.o", "Fallo");
        }
    }

    public void Eliminar()
    {
        var articulo = controller.Buscar(Articulo.ArticuloId);

        if (articulo != null)
        {
            controller.Eliminar(Articulo.ArticuloId);
            Limpiar();
            toastService.ShowSuccess("Articulo eliminado correctamente.", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("Error al eliminar el articulo.", "Fallo");
        }
    }
    private void SeleccionarCategoria()
    {
        Articulo.CategoriaId = Convert.ToInt32(CategoriaSeleccionado);
    }
}

