@page "/Registro/Cliente"
@page "/Registro/Cliente/{ClienteId:int}"
@inject IToastService toastService

    <style>
        .demo-mat-card {
            max-width: 550px;
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto
        }
        .mdc-text-field {
            width: 100%;
        }
    </style>

    <MatCard Class="mat-elevation-z8 demo-mat-card mat-layout-grid">
        <MatHeadline6 Class="demo-mat-card-clean-margin mat-layout-grid-cell mat-layout-grid-cell-align-middle">
            Clientes
        </MatHeadline6>
        <MatDivider Padded="true"></MatDivider>
        <div class="form-register">


            <EditForm Model="@Cliente" OnValidSubmit="Guardar">
                <DataAnnotationsValidator />
                <label class="text-muted form-text">@Mensaje</label>
                <div class="form-row">
                    <div class="input-group-append">
                        <MatTextField Label="ClienteId" Required="true" @bind-Value="Cliente.ClienteId" Style="height: 37px;"></MatTextField>
                        <ValidationMessage For="(() => Cliente.ClienteId)" />
                        <MatThemeProvider Theme="buscar">  <MatButton Raised="true" Icon="search" @onclick="Buscar" Style=" width: 7rem;"> Buscar</MatButton> </MatThemeProvider>

                    </div>
                    &nbsp;
                    <MatDatePicker @bind-Value="Cliente.Fecha" Required="true" Label="Fecha" Style="height:37px; max-width: 10rem; "></MatDatePicker>
                    <ValidationMessage For="(() => Cliente.Fecha)" />

                </div>
                <br />
                <div class="form-group">
                    <InputSelect @bind-Value="@TipoClienteSeleccionado" Required="true" class="form-control " @onchange="SeleccionarTipoCliente" @onclick="SeleccionarTipoCliente">
                        <option value="0" disabled selected>Seleccione un Tipo de Cliente</option>
                        @if (ListadoTipoClientes.Count <= 0)
                        {
                            <option value="" disabled>No Hay TipoCliente Registrado</option>
                        }
                        else
                            @foreach (var item in ListadoTipoClientes)
                            {
                                <option value="@item.TipoClienteId">@item.Descripcion</option>
                            }
                    </InputSelect>
                    <ValidationMessage For="@(()=>Cliente.TipoClienteId)" />
                </div>
                <div class="mat-layout-grid-fixed-column">
                    <div class="form-group">
                        <MatTextField Label="Nombre" @bind-Value="Cliente.Nombre" Required="true" Style="height:37px; width:100%  !important; "></MatTextField>
                        <ValidationMessage For="(() => Cliente.Nombre)" />
                    </div>
                    <div class="form-group ">
                        <MatTextField Label="Cedula" @bind-Value="Cliente.Cedula" Required="true" Style="height:37px;  width:100%  !important;"></MatTextField>
                        <ValidationMessage For="(() => Cliente.Cedula)" />
                    </div>
                    <div class="form-group">
                        <MatTextField Label="Telefono" @bind-Value="Cliente.Telefono" Required="true" Style="height:37px;   width:100%  !important;"></MatTextField>
                        <ValidationMessage For="(() => Cliente.Telefono)" />
                    </div>
                    <div class="form-group">
                        <MatTextField Label="Direccion" @bind-Value="Cliente.Direccion" Required="true" Style="height:37px; width:100%  !important;"></MatTextField>
                        <ValidationMessage For="(() => Cliente.Direccion)" />
                    </div>
                </div>

                <div>
                    <MatButton Raised="true" Icon="insert_drive_file" @onclick="Limpiar">Nuevo</MatButton>
                    <MatThemeProvider Theme="guarda">  <MatButton Raised="true" Type="submit" Icon="save">Guardar</MatButton>   </MatThemeProvider>
                    <MatThemeProvider Theme="eliminar"> <MatButton Raised="true" Icon="delete" @onclick="Eliminar">Eliminar</MatButton> </MatThemeProvider>

                </div>
                <h5 class="text-success">@Mensaje</h5>
            </EditForm>
        </div>
    </MatCard>

        @code {
            [Parameter]
            public int ClienteId { get; set; }
            Clientes Cliente { get; set; }
            string Mensaje = string.Empty;
            ClientesController controller = new ClientesController();
            TipoClientesController tipoClientesController = new TipoClientesController();
            private List<TiposClientes> ListadoTipoClientes { get; set; }
            string TipoClienteSeleccionado = string.Empty;
           

            protected override void OnInitialized()
            {
                Cliente = new Clientes();
                ListadoTipoClientes = tipoClientesController.GetList(e => true);
                Limpiar();
                if (ClienteId != 0)
                {
                    Cliente.ClienteId = ClienteId;
                    Buscar();
                }
            }
            private void Limpiar()
            {
                this.Cliente = new Clientes();
                TipoClienteSeleccionado = "0";
                LimpiarMensajes();
            }
            public void LimpiarMensajes()
            {
            Mensaje = string.Empty;
            }

            public void Guardar()
            {
                if (controller.Guardar(Cliente))
                {
                    Limpiar();
                    toastService.ShowSuccess("Cliente guardado correctamente", "Exito");
                }
                else
                {
                    Limpiar();
                    toastService.ShowError("Error al guardar el cliente", "Fallo");
                }
            }

            public void Buscar()
            {
                Clientes cliente = controller.Buscar(Cliente.ClienteId);

                if (cliente != null)
                {
                    Limpiar();
                    Cliente = cliente;
                    TipoClienteSeleccionado = Cliente.TipoClienteId.ToString();
                    toastService.ShowSuccess("Cliente encontrado.", "Exito");
                }
                else
                {
                    Limpiar();
                    toastService.ShowError("El cliente no fue encontrado.", "Fallo");
                }
            }

            public void Eliminar()
            {
                Clientes cliente = controller.Buscar(Cliente.ClienteId);

                if (cliente != null)
                {
                    controller.Eliminar(Cliente.ClienteId);
                    Limpiar();
                    toastService.ShowSuccess("Cliente eliminado correctamente.", "Exito");
                }
                else
                {
                    Limpiar();
                    toastService.ShowError("Error al eliminar el cliente.", "Fallo");
                }
            }
            private void SeleccionarTipoCliente()
            {
                Cliente.TipoClienteId = Convert.ToInt32(TipoClienteSeleccionado);
            }

            MatTheme guarda = new MatTheme() { Primary = "green" };
            MatTheme eliminar = new MatTheme(){ Primary = "red" };
            MatTheme buscar = new MatTheme() { Primary = "grey" };
 
        }
