@page "/Registro/Empeños"
@page "/Registro/Empeños/{EmpeñoId:int}"
@inject IMatToaster  Toaster


<style>
    .demo-mat-card {
        max-width: 855px;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto
    }
    .mdc-text-field {
        width: 100%;
    }
</style>

    <MatHeadline6 Class="demo-mat-card-clean-margin mat-layout-grid-cell mat-layout-grid-cell-align-middle">
        Registro Empeño
    </MatHeadline6>
    <MatDivider Padded="true"></MatDivider>
    <div class="form-register">
 

        <EditForm Model="@Empeño" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <label class="text-muted form-text">@Mensaje</label>

            <div class="form-row">
                &nbsp;
                <div class="input-group-append">

                    <MatTextField Label="EmpeñoId" Required="true" @bind-Value="Empeño.EmpeñoId" InputStyle="number" Style="height: 37px; max-width: 10rem;"></MatTextField>
                    <ValidationMessage For="(() => Empeño.EmpeñoId)" />
                    <MatThemeProvider Theme="buscar">  <MatButton Raised="true" Icon="search" @onclick="Buscar" Style=" width: 7rem;"> Buscar</MatButton> </MatThemeProvider>
                </div>
                <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <MatDatePicker @bind-Value="FechaActual" Required="true" Label="Fecha Actual" ReadOnly="true" Style="height:37px; max-width: 10rem; "></MatDatePicker>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="form-group">
                    <MatDatePicker @bind-Value="Empeño.Fecha" Required="true" Label="Fecha Empeño" Style="height:37px; max-width:10rem; " @onfocus="CalcularEstado" @onfocusin="CalcularEstado" @onfocusout="CalcularEstado" @onchange="CalcularEstado" @onclick="CalcularEstado"></MatDatePicker>
                    <ValidationMessage For="(() => Empeño.Fecha)" />
                </div>
                <div class="form-group">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <MatTextField @bind-Value="Estado" Label="Estado" Style="height:37px; max-width:7rem; " @onclick="CalcularEstado" @onfocus="CalcularEstado" @onfocusin="CalcularEstado" @onfocusout="CalcularEstado" ReadOnly="true"></MatTextField>
                </div>
            </div>
            <div class="form-group">
                <InputSelect @bind-Value="@ClienteSeleccionado" class="form-control " @onchange="CargarClientes" @onclick="CargarClientes">
                    <option value="0" disabled selected>Seleccione un Cliente</option>
                    @if (ListadoClientes.Count <= 0)
                    {
                        <option value="" disabled>No Hay Cliente Registrado</option>
                    }
                    else
                        @foreach (var item in ListadoClientes)
                        {
                            <option value="@item.ClienteId">@item.Nombre</option>
                        }
                </InputSelect>
            </div>

            <div class="form-group">
                <InputSelect @bind-Value="@ArticuloSeleccionado" class="form-control " @onchange="CargarArticulos" @onclick="CargarArticulos">
                    <option value="0" disabled selected>Seleccione un Articulo</option>
                    @if (ListadoArticulos.Count <= 0)
                    {
                        <option value="" disabled>No Hay Articulo Registrado</option>
                    }
                    else
                        @foreach (var item in ListadoArticulos)
                        {
                            <option value="@item.ArticuloId">@item.Nombre</option>
                        }
                </InputSelect>
            </div>
            <div class="form-row">
                &nbsp;
                <div class="form-group mat-layout-grid-cell " style="min-width:350px;">
                    <MatTextField @bind-Value="Descripcion" Required="true" Label="Descripcion" Style="height:37px;"></MatTextField>
                </div>

                &nbsp;&nbsp;&nbsp;
                <div class="form-group mat-layout-grid-cell">
                    <MatTextField Label="Cantidad" Required="true" @bind-Value="Cantidad" Style="height:37px; max-width:150px;"></MatTextField>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="input-group-append mat-layout-grid-cell">
                    <MatTextField @bind-Value="Monto" Required="true" Label="Monto" Style="height:37px; max-width:150px;"></MatTextField>
                    &nbsp;&nbsp;&nbsp;
                    <MatButton Raised="true" Icon="add_box" @onclick="AgregarDetalle" Style=" width: 7rem;"> Agregar</MatButton>
                </div>

            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>EmpeñoId</th>
                                <th>ArticuloId</th>
                                <th>Descripcion</th>
                                <th>Cantidad</th>
                                <th>Monto</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Empeño.Detalle)
                            {
                                <tr>
                                    <th>@item.EmpeñoId</th>
                                    <th>@item.ArticuloId</th>
                                    <th>@item.Articulo</th>
                                    <th>@item.Descripcion</th>
                                    <th>@item.Cantidad</th>
                                    <th>@item.Monto</th>
                                    <th><button type="button" class="btn btn-outline-danger btn-sm" @onclick="(()=> EliminarArticulo(item))">Eliminar</button></th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell"></div>
                <div class="mat-layout-grid-cell"></div>
                <div class="mat-layout-grid-cell" style="min-width:150px; padding-left:6rem;">
                    <MatTextField @bind-Value="@MontoTotal" Label="Total" Style="height:37px; max-width:150px;" ReadOnly="true"></MatTextField>
                </div>
            </div>
            <div>
                <MatButton Raised="true" Icon="insert_drive_file" @onclick="Limpiar">Nuevo</MatButton>
                <MatThemeProvider Theme="guarda">  <MatButton Raised="true" Type="submit" Icon="save">Guardar</MatButton>   </MatThemeProvider>
                <MatThemeProvider Theme="eliminar"> <MatButton Raised="true" Icon="delete" @onclick="Eliminar">Eliminar</MatButton> </MatThemeProvider>
            </div>
            <h5 class="text-success">@Mensaje</h5>
        </EditForm>
    </div>


    @code {
        [Parameter]
        public int EmpeñoId { get; set; }
        public string Estado { get; set; }
        public Empeños Empeño { get; set; }
        public EmpeñosDetalle Detalle { get; set; }
        public DateTime FechaActual { get; set; }
        EmpeñosController empeñoscontroller = new EmpeñosController();

        Articulos Articulo { get; set; }
        ArticulosController articulosController = new ArticulosController();
        List<Articulos> ListadoArticulos = new List<Articulos>();

        Clientes Cliente { get; set; }
        ClientesController clientesController = new ClientesController();
        List<Clientes> ListadoClientes = new List<Clientes>();
        List<EmpeñosDetalle> ListaDetalle = new List<EmpeñosDetalle>();

        int Cantidad = 0;
        decimal Monto = 0;
        string Descripcion = string.Empty;
        string Mensaje = string.Empty;
        string Titulo = string.Empty;
        string ArticuloSeleccionado = "0";
        string ClienteSeleccionado = "0";
        decimal MontoTotal = 0;

        protected override void OnInitialized()
        {
            Empeño = new Empeños();
            Articulo = new Articulos();
            Cliente = new Clientes();
            Detalle = new EmpeñosDetalle();
            Estado = " ";
            Descripcion = " ";
            MontoTotal = 0;
            FechaActual = DateTime.Now;
            ListadoArticulos = articulosController.GetList(e => true);
            ListadoClientes = clientesController.GetList(e => true);
            Limpiar();


            if (EmpeñoId != 0)
            {
                Empeño.EmpeñoId = EmpeñoId;
                Buscar();
            }
        }
        public void Guardar()
        {

            if (Empeño.Detalle.Count <= 0)
            {
                Mensaje = "Tiene que agregar un articulo al empeño";
                Titulo = "Info";
                Show(MatToastType.Info);
                LimpiarMensajes();
            }
            else
            {
                if (empeñoscontroller.Guardar(Empeño))
                {
                    Limpiar();
                    Mensaje = "Empeño guardado correctamente";
                    Titulo = "Exito";
                    Show(MatToastType.Success);
                    LimpiarMensajes();
                }
                else
                {
                    Limpiar();
                    Mensaje = "Error al guardar el empeño";
                    Titulo = "Fallo";
                    Show(MatToastType.Danger);
                    LimpiarMensajes();
                }
            }
        }
        public void Buscar()
        {
            Empeños empeño = empeñoscontroller.Buscar(Empeño.EmpeñoId);

            if (empeño != null)
            {
                Limpiar();
                Empeño = empeño;
                Mensaje = "Se ha encontrado el empeño";
                Titulo = "Exito";
                Show(MatToastType.Success);
                LimpiarMensajes();
                CalcularEstado();

            }
            else
            {
                Limpiar();
                Mensaje = "No se ha encontrado el empeño";
                Titulo = "Fallo";
                Show(MatToastType.Danger);
                LimpiarMensajes();
            }
        }
        public void Eliminar()
        {
            Empeños empeño = empeñoscontroller.Buscar(Empeño.EmpeñoId);

            if (empeño != null)
            {
                if (empeñoscontroller.Eliminar(Empeño.EmpeñoId))
                {
                    Limpiar();
                    Mensaje = "Se elimino el empeño correctamente";
                    Titulo = "Exito";
                    Show(MatToastType.Success);
                    LimpiarMensajes();
                }
                else
                {
                    Limpiar();
                    Mensaje = "Error al eliminar el empeño";
                    Titulo = "Fallo";
                    Show(MatToastType.Danger);
                    LimpiarMensajes();
                }
            }
        }

        public void Limpiar()
        {
            this.Empeño = new Empeños();
            ArticuloSeleccionado = "0";
            ClienteSeleccionado = "0";
            Cantidad = 0;
            MontoTotal = 0;

            LimpiarMensajes();
        }

        public void LimpiarMensajes()
        {
            Mensaje = string.Empty;
            Titulo = string.Empty;
        }

        private void CargarArticulos()
        {
            Articulo = articulosController.Buscar(Convert.ToInt32(ArticuloSeleccionado));
        }
        private void CargarClientes()
        {
            Cliente = clientesController.Buscar(Convert.ToInt32(ClienteSeleccionado));
        }

        private void AgregarDetalle()
        {

            if (ArticuloSeleccionado == "0" && ClienteSeleccionado != "0")
            {
                Mensaje = "Debe Seleccionar un articulo";
                Titulo = "Info";
                Show(MatToastType.Info);
                LimpiarMensajes();
            }
            else
            if (ArticuloSeleccionado != "0" && ClienteSeleccionado == "0")
            {
                Mensaje = "Debe Seleccionar un cliente";
                Titulo = "Info";
                Show(MatToastType.Info);
                LimpiarMensajes();
            }
            else
            if (ArticuloSeleccionado == "0" && ClienteSeleccionado == "0")
            {
                Mensaje = "Debe Seleccionar un articulo y un cliente";
                Titulo = "Info";
                Show(MatToastType.Info);
                LimpiarMensajes();
            }
            else
            {
               
                if (Cantidad <= 0)
                {
                    Mensaje = "La cantidad debe ser mayor a 0";
                    Titulo = "Info";
                    Show(MatToastType.Info);
                    LimpiarMensajes();
                }
                else if(Cantidad >= 2147483647)
                {
                    Mensaje = "La cantidad esta fuera de rango";
                    Titulo = "Info";
                    Show(MatToastType.Info);
                    LimpiarMensajes();
                }
                else if (Monto <= 0)
                {
                    Mensaje = "El monto debe ser mayor a 0";
                    Titulo = "Info";
                    Show(MatToastType.Info);
                    LimpiarMensajes();
                }
                else if(Monto >= 2147483647)
                {
                    Mensaje = "El monto esta fuera de rango";
                    Titulo = "Info";
                    Show(MatToastType.Info);
                    LimpiarMensajes();
                } 
                else if (Empeño.Detalle.Any(i => i.ArticuloId == Articulo.ArticuloId))
                {
                    Mensaje = "Este articulo ya esta agregado";
                    Titulo = "Info";
                    Show(MatToastType.Info);
                    LimpiarMensajes();
                }
                else
                {
                    Mensaje = string.Empty;
                    Empeño.Detalle.Add(new EmpeñosDetalle()
                    {
                        EmpeñoId = Empeño.EmpeñoId,
                        ArticuloId = Articulo.ArticuloId,
                        Articulo = Articulo.Nombre,
                        Descripcion = Descripcion,
                        Cantidad = Cantidad,
                        Monto = Monto,
                    });
                    ArticuloSeleccionado = "0";
                    ClienteSeleccionado = "0";
                    Cantidad = 0;
                    Monto = 0;
                    Descripcion = string.Empty;
                    MontoTotal = 0;
                    foreach (var item in Empeño.Detalle)
                    {
                        MontoTotal += item.Monto;
                    }
                }
            }
        }
        private void EliminarArticulo(EmpeñosDetalle detalle)
        {
            Empeño.Detalle.Remove(detalle);
        }

        private void CalcularEstado()
        {
            if (FechaActual >= Empeño.Fecha.AddDays(90))
            {
                Estado = "Vencido";
            }
            else
            {
                Estado = "Vigente";
            }
        }

        public void Show(MatToastType type, string icon = "")
        {
            Toaster.Add(Mensaje, type, Titulo, icon, config =>
            {
                config.ShowCloseButton = true;
                config.ShowProgressBar = true;
                config.MaximumOpacity = Convert.ToInt32("100");
                config.ShowTransitionDuration = Convert.ToInt32("500");
                config.VisibleStateDuration = Convert.ToInt32("5000");
                config.HideTransitionDuration = Convert.ToInt32("500");
            });
        }
        MatTheme guarda = new MatTheme() { Primary = "green" };
        MatTheme eliminar = new MatTheme(){ Primary = "red" };
        MatTheme buscar = new MatTheme() { Primary = "grey" };

    }

