@page "/Registro/Usuario"
@page "/Registro/Usuario/{UsuarioId:int}"
@inject IToastService toastService
<div class="form-register">
    <h3>Usuarios</h3>
    <EditForm Model="@Usuario" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <label class="text-muted form-text">@Mensaje</label>
        <div class="form-group">
            <label> UsuarioId</label>
            <InputNumber class="form-control" @bind-Value="Usuario.UsuarioId"></InputNumber>
            <ValidationMessage For="(() => Usuario.UsuarioId)" />
            <button type="button" class="btn btn-primary" @onclick="Buscar">Buscar</button>
        </div>

        <div class="form-group">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="Usuario.Nombre"></InputText>
            <ValidationMessage For="(() => Usuario.Nombre)" />
        </div>

        <div class="form-group">
            <label>Email</label>
            <InputText class="form-control" @bind-Value="Usuario.Usuario"></InputText>
            <ValidationMessage For="(() => Usuario.Usuario)" />
        </div>

        <div class="form-group">
            <label>Clave</label>
            <InputText type="password" class="form-control" @bind-Value="Usuario.Contraseña"></InputText>
            <ValidationMessage For="(() => Usuario.Contraseña)" />
        </div>

        <div class="form-group">
            <label>Confirmar Clave</label>
            <InputText class="form-control" @bind-Value="Usuario.RepeatContraseña" type="password"></InputText>
            <ValidationMessage For="(() => Usuario.RepeatContraseña)" />
        </div>
        <div class="form-group">
            <label>Tipo de Usuario</label>
            <InputSelect class="form-control" @bind-Value="Usuario.TipoUsuarioId">
                <option value="0" disabled selected>Seleccione un Tipo de Usuario</option>
                @if (ListadoTipos.Count == 0)
                {
                    <option value="" disabled>No hay Tipo de usuario Registrado</option>
                }
                else
                {
                    @foreach (var item in ListadoTipos)
                    {
                        <option value="@item.TipoUsuarioId">@item.Descripcion</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="(() => Usuario.TipoUsuarioId)" />
        </div>
        <div class="form-group">
            <label>Fecha de Ingreso</label>
            <InputDate class="form-control" @bind-Value="Usuario.Fecha"></InputDate>
            <ValidationMessage For="(() => Usuario.Fecha)" />
        </div>

        <div>
            <button type="button" class="btn btn-danger" @onclick="Limpiar">Nuevo</button>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-secondary" @onclick="Eliminar">Eliminar</button>
        </div>
        <h5 class="text-success">@Mensaje</h5>
    </EditForm>
</div>

@code {
    [Parameter]
    public int UsuarioId { get; set; }
    string Mensaje = string.Empty;
    private int TipoSeleccionado = 0;
    Usuarios Usuario { get; set; }
    UsuariosController controller = new UsuariosController();
    TiposUsuarios Tipos { get; set; }
    List<TiposUsuarios> ListadoTipos = new List<TiposUsuarios>();
    TipoUsuariosController tipousuariosController = new TipoUsuariosController();

    protected override void OnInitialized()
    {
        Usuario = new Usuarios();
        Tipos = new TiposUsuarios();
        ListadoTipos = tipousuariosController.GetList(e => true);
        if (UsuarioId != 0)
        {
            Usuario = controller.Buscar(UsuarioId);
        }
    }
    private void Limpiar()
    {
        Usuario = new Usuarios();
    }

    public void Guardar()
    {
        if (controller.Guardar(Usuario))
        {
            Limpiar();
            toastService.ShowSuccess("Usuario guardado correctamente", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("Error al guardar el usuario", "Fallo");
        }
    }

    public void Buscar()
    {
        var usuario = controller.Buscar(Usuario.UsuarioId);

        if (usuario != null)
        {
            Usuario = usuario;
            TipoSeleccionado = Usuario.TipoUsuarioId;
            toastService.ShowSuccess("Usuario encontrado.", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("El usuario no fue encontrado.", "Fallo");
        }
    }

    public void Eliminar()
    {
        var usuario = controller.Buscar(Usuario.UsuarioId);

        if (usuario != null)
        {
            controller.Eliminar(Usuario.UsuarioId);
            Limpiar();
            toastService.ShowSuccess("Usuario eliminado correctamente.", "Exito");
        }
        else
        {
            Limpiar();
            toastService.ShowError("Error al eliminar el usuario.", "Fallo");
        }
    }
    private void SeleccionarTipo()
    {
        Usuario.TipoUsuarioId = TipoSeleccionado;
    }
}