@page "/Consulta/Cliente"


<style>
    .demo-mat-card {
        max-width: 900px;
        margin-top: 2rem;
    }
</style>

<MatCard Class="mat-elevation-z8 demo-mat-card mat-layout-grid">

    <MatHeadline6 Class="demo-mat-card-clean-margin">
        Consulta Clientes
    </MatHeadline6>

    <MatDivider Padded="true"></MatDivider>
    <div class="form-row">
        <p>
            <MatDatePicker @bind-Value="DesdeFecha" Label="Fecha:Desde" Style="height:37px;"></MatDatePicker>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <MatDatePicker @bind-Value="HastaFecha" Label="Fecha:Hasta" Style="height:37px; "></MatDatePicker>
            <MatCheckbox Label="Filtra por fecha" @bind-Value="BuscarFecha"></MatCheckbox>
        </p>
    </div>

    <br /><br />
    <div class=" form-row">
        <MatSelect Label="Filtro:" @bind-Value="Filtro" Style="height:20px;">
            <MatOptionString Value="Todos">Todo</MatOptionString>
            <MatOptionString Value="Id">Id</MatOptionString>
            <MatOptionString Value="Nombre">Nombre</MatOptionString>
            <MatOptionString Value="Cedula">Cedula</MatOptionString>
            <MatOptionString Value="Telefono">Telefono</MatOptionString>
            <MatOptionString Value="Direccion">Direccion</MatOptionString>
        </MatSelect>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <MatTextField Label="Criterio" @bind-Value="Criterio" Style="width:400px;"></MatTextField>
        &nbsp;&nbsp;
        <MatThemeProvider Theme="buscar">  <MatIconButton Icon="search" @onclick="Buscar"> </MatIconButton> </MatThemeProvider>
    </div>
</MatCard>

<MatCard Class="mat-elevation-z8 demo-mat-card mat-layout-grid">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Fecha de Ingreso</th>
                <th>Tipo de Cliente</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lista)
            {
            <tr>
                <td>@item.ClienteId</td>
                <td>@item.Nombre</td>
                <td>@item.Cedula</td>
                <td>@item.Telefono</td>
                <td>@item.Direccion</td>
                <td>@item.Fecha</td>
                <td>@item.TipoClienteId</td>
                <td><a class="btn btn-outline-info" href="Registro/Cliente/@item.ClienteId">Ver</a></td>
            </tr>
            }
        </tbody>
    </table>
</MatCard>
<h5 class="text-success">@mensaje</h5>


    @code {

        MatTheme buscar = new MatTheme()
        {
            Primary = "grey",
        };

        private List<Clientes> lista { get; set; }

        private string Filtro { get; set; }
        private string Criterio { get; set; }
        public string mensaje;
        public bool BuscarFecha { get; set; }
        public DateTime DesdeFecha { get; set; }
        public DateTime HastaFecha { get; set; }


        protected override void OnInitialized()
        {
            lista = new List<Clientes>();
            DesdeFecha = DateTime.Now;
            HastaFecha = DateTime.Now;
        }

        private void Buscar()
        {
            ClientesController controller = new ClientesController();

            try
            {

                lista = controller.GetList(a => true);

                if (lista.Count == 0)
                {
                    mensaje = "No hay Clientes Registrado";
                }
                else
                {
                    mensaje = "";
                    switch (Filtro)
                    {
                        case "Todo":
                            lista = controller.GetList(e => true);
                            break;
                        case "Id":
                            lista = controller.GetList(e => e.ClienteId == Convert.ToInt32(Criterio));
                            break;
                        case "Nombre":
                            lista = controller.GetList(e => e.Nombre == Criterio);
                            break;
                        case "Cedula":
                            lista = controller.GetList(e => e.Cedula == Criterio);
                            break;
                        case "Telefono":
                            lista = controller.GetList(e => e.Telefono == Criterio);
                            break;
                        case "Direccion":
                            lista = controller.GetList(e => e.Direccion == Criterio);
                            break;
                    }
                    if (BuscarFecha == true)
                    {
                        lista = controller.GetList(p => p.Fecha >= DesdeFecha.Date && p.Fecha <= HastaFecha.Date);
                    }
                }

            }
            catch (Exception)
            {
                throw;
            }
        }
    }
