@page "/Consulta/Clientes"
    <h3>Consulta de Clientes</h3>

    <div class="form-group row">
        <input class="ml-2" type="checkbox" @bind-value="BuscarFecha" id="defaultCheck1"> Filtrar por Fecha
        <div class="input-group  col-sm-6">

            <label for="DesdeFecha" class="col-auto">Desde</label>
            <input id="DesdeFecha" type="date" @bind-value="DesdeFecha" class="form-control col-6 " input />

            <label for="HastaFechaInput" class="col-auto">&nbsp;&nbsp;Hasta</label>
            <input type="date" Id="HastaFechaInput" @bind-value="HastaFecha" class="form-control col-6" />
        </div>
    </div>

    <div class="form-group row">
        <label for="filtro">Filtro</label>
        <div class="input-group  col-sm-10">
            <select class="form-control" @bind="Filtro">
                <option value="0">Todos</option>
                <option value="1">Id</option>
                <option value="2">Nombre</option>
                <option value="3">Cedula</option>
                <option value="4">Telefono</option>
                <option value="5">Direccion</option>
            </select>
            <div align="right" class="input-group col-md-8">
                <label for="criterio"> Criterio </label>
                <input type="search" class="form-control" @bind-value="Criterio" />
            </div>
            <button type="button" class="btn btn-outline-success" @onclick="Buscar">Buscar</button>
        </div>
    </div>


    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Fecha de Ingreso</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lista)
            {
                <tr>
                    <td>@item.ClienteId</td>
                    <td>@item.Nombre</td>
                    <td>@item.Cedula</td>
                    <td>@item.Telefono</td>
                    <td>@item.Direccion</td>
                    <td>@item.Fecha</td>
                    <td><a class="btn btn-outline-info" href="Clientes/@item.ClienteId">Ver</a></td>
                </tr>
            }
        </tbody>
    </table>



@code {

    private List<Clientes> lista { get; set; }

    private string Filtro { get; set; }
    private string Criterio { get; set; }
    public string mensaje;
    public bool BuscarFecha { get; set; }
    public DateTime DesdeFecha { get; set; }
    public DateTime HastaFecha { get; set; }


    protected override void OnInitialized()
    {
        lista = new List<Clientes>();
        DesdeFecha = DateTime.Now;
        HastaFecha = DateTime.Now;
    }

    private void Buscar()
    {
        ClientesController controller = new ClientesController();

        try
        {

                lista = controller.GetList(a => true);

                if (lista.Count == 0)
                {
                    mensaje = "No hay Clientes Registrado";
                }
                else
                {
                    mensaje = "";
                    switch (Filtro)
                    {
                        case "Todo":
                            lista = controller.GetList(e => true);
                            break;
                        case "Id":
                            lista = controller.GetList(e => e.ClienteId == Convert.ToInt32(Criterio));
                            break;
                        case "Nombre":
                            lista = controller.GetList(e => e.Nombre == Criterio);
                            break;
                        case "Cedula":
                            lista = controller.GetList(e => e.Cedula == Criterio);
                            break;
                        case "Telefono":
                            lista = controller.GetList(e => e.Telefono == Criterio);
                            break;
                        case "Direccion":
                            lista = controller.GetList(e => e.Direccion == Criterio);
                            break;
                    }
                    if (BuscarFecha == true)
                    {
                        lista = controller.GetList(p => p.Fecha >= DesdeFecha.Date && p.Fecha <= HastaFecha.Date);
                    }
                }
            
        }
        catch (Exception)
        {
            throw;
        }
    }
}