@using Microsoft.AspNetCore.Components;
@inject NavigationManager navigationManager

<style>
    .app-sidebar {
        color: #fff
    }
    .mdc-drawer .mdc-list-item {
        color: black;
    }

    .app-sidebar .mdc-list-item--selected {
        border-left: solid 3px rgba(255, 255, 255, .5);
        background: #6200ee !important;

    }


</style>

<MatNavMenu Multi="true" Class="app-sidebar">
    <MatNavItem Href="/home" NavLinkMatch="NavLinkMatch.All">
        <MatIcon>home</MatIcon> <span class="miniHover">Home page</span>
    </MatNavItem>

    <MatNavSubMenu>

        <MatNavSubMenuHeader>
            <MatNavItem>
                <MatIcon>list</MatIcon>
                <span class="miniHover">  Registros</span>
            </MatNavItem>
        </MatNavSubMenuHeader>

        <MatNavSubMenuList>

            <MatNavItem Href="/Consulta/Usuario">
                <MatIcon>send</MatIcon> <span class="miniHover">Consulta Usuario</span>
            </MatNavItem>
        </MatNavSubMenuList>


    </MatNavSubMenu>
    <MatDivider></MatDivider>

    <MatNavSubMenu>

        <MatNavSubMenuHeader>
            <MatNavItem>
                <MatIcon>list</MatIcon>
                <span class="miniHover">  Consultas</span>
            </MatNavItem>
        </MatNavSubMenuHeader>

        <MatNavSubMenuList>
            <MatNavItem Href="/Consulta/Usuario">
                <MatIcon>send</MatIcon> <span class="miniHover">Consulta Usuario</span>
            </MatNavItem>
        </MatNavSubMenuList>


    </MatNavSubMenu>
    <MatDivider></MatDivider>

    <MatNavSubMenu>
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false">
                <MatIcon>settings_applications</MatIcon> <span class="miniHover">Admin</span>
            </MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("admin/users").AbsoluteUri">
                <MatIcon>supervisor_account</MatIcon> <span class="miniHover">Users</span>
            </MatNavItem>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("admin/roles").AbsoluteUri">
                <MatIcon>supervisor_account</MatIcon> <span class="miniHover">Roles</span>
            </MatNavItem>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("admin/blazor_middlware_audit").AbsoluteUri">
                <MatIcon>change_history</MatIcon> <span class="miniHover">Api Audit Log</span>
            </MatNavItem>
            <MatNavItem Href="@navigationManager.ToAbsoluteUri("admin/dBlogViewer").AbsoluteUri">
                <MatIcon>notes</MatIcon> <span class="miniHover">DB Logging View</span>
            </MatNavItem>
        </MatNavSubMenuList>
    </MatNavSubMenu>

    <MatNavItem Href="@navigationManager.ToAbsoluteUri("admin/users").AbsoluteUri" Disabled="true">
        <MatIcon>supervisor_account</MatIcon> <span class="miniHover">Admin</span>
    </MatNavItem>


</MatNavMenu>

@code {



}